.arrow-up {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #F00;
}
.circle {
    width: 50px;
    height: 50px;
    background: #02AACE;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pacman {
    position: relative;
    width:50px;
    height:50px;
}
.pacman:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1.5em solid #ffcc00;
    border-radius: 1.5em;
    border-right: 1.5em solid transparent;
}

/* Align content */
.align-flex {
    display: flex;
	align-items: center;
	height: 10em;
	background: #02AACE;
    width: 300px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.align-css3 {
	height: 100px;
	background: #02AACE;
    color: #fff;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.align-css3 .content {
    text-align: center;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
